<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fr.isen.guessmyvibe">

    <application
        android:allowBackup="true"
        android:icon="@drawable/guessmyvibe"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ProfileActivity"></activity>
        <activity android:name=".MultiplayersGameActivity" />
        <activity android:name=".JoinRoomActivity" />
        <activity android:name=".NewRoomActivity" />
        <activity android:name=".SoloHardGameActivity" />
        <activity android:name=".SoloEasyGameActivity" />
        <activity android:name=".LevelActivity" />
        <activity android:name=".MultiActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>